//- id
//- picture
//- timeStart
//- costStart
//- rateMultiplier
//- timeInterval
//- costNow
//- users
//- reservedMoney
//- access
//- user  (current challenger)
.row
  .picturebox
    - picture = auction.picture
    p.title Картина
    include PictureCard
  .userbox(id='auction-userCard')
    - user = auction.user
    p.title Возможный покупатель
    include UserCard
.row
  .card.left
    p Стартовая ставка: 
      span.start(id='auction-costStart') #{auction.costStart}
    p Сейчас ставка: 
      span.now(id='auction-costNow') #{auction.costNow}
    p Следующая ставка: 
      span.now(id='auction-costNext') #{auction.costNow * auction.rateMultiplier}
    p Множитель ставки: 
      span.now(id='auction-rateMultiplier') #{auction.rateMultiplier}
    p Временный интервал: 
      span.now(id='auction-timeInterval') #{auction.timeInterval}
    if auction.access
      .timer
        h2 0
.card.btnBox
  if auction.access
    button.primaryBtn(id='tryBuyBtn' onclick=`tryBuy('${auction.id}')`)
      | Сделать ставку
  if owner
    button.warningBtn(id='openAuctionFormBtn' onclick=`openAuctionForm('edit','${auction.id}')`)
      | Редактировать

//- .card
//-   p Наблюдатели
//-   include List



